<div style="display: flex; justify-content: center; align-items: center; height: 80vh">
  <div id="my-spid-button">
    <noscript>
      Il login tramite SPID richiede che JavaScript sia abilitato nel browser.
    </noscript>
  </div>
  <div>
    <button  style="display: flex; justify-content: center; gap: 8px;align-items: center;" (click)="cieConnect()" class="spid-button spid-button-positive spid-button-rounded spid-button-size-small">
      <img src="/SVG/Logo_CIE_ID.svg" style="height:18px;">Entra con CieID
    </button>
  </div>
</div>
