
<script type="text/javascript" src="spid-smart-button/dist/spid-button.min.js"></script>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function () {
    SPID.init({
      lang: 'it',
      selector: '#my-spid-button',  // opzionale
      method: 'POST',               // opzionale
      url: '/Login/{{idp}}',
      fieldName: 'idp',
      extraFields: {                // opzionale
        foo: 'bar',
        baz: 'baz'
      },
      mapping: {                    // opzionale
        'https://loginspid.aruba.it': 4,
        'https://posteid.poste.it': 5,
        'https://idp.namirialtsp.com/idp': 7,
      },
      supported: [
        'https://identity.sieltecloud.it',
        'https://loginspid.aruba.it',
        'https://identity.infocert.it',
        'https://login.id.tim.it/affwebservices/public/saml2sso',
        'https://idp.namirialtsp.com/idp',
        'https://spid.register.it',
        'https://id.lepida.it/idp/shibboleth',
        'https://spid.teamsystem.com/idp'
      ],
      protocol: "SAML",
      size: "medium",
      colorScheme: "positive",
      cornerStyle: "rounded"
    });

    SPID.init({
      selector: '#my-spid-button2',  // opzionale
      url: '/Login/{{idp}}',
      supported: [],
      extraProviders: [
        {
          "entityID": "https://testidp.mycorp.com/",
          "entityName": "Test IdP"
        }
      ]
    });
  });

</script>

<div style="background-color: #EEE">
  <div id="my-spid-button">

  </div>

  <div id="my-spid-button2"></div>
</div>
